@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Kurale');


body 
{
  font: 0.8em Arial, Helvetica, sans-serif; 
  background: #F0F8FF; 
  height: 100%;
}

a 
{
  color: #9400D3; 
}
   
#wrapper 
{
  width: 100%; 
  margin: 0 auto; 
  background: #F0F8FF; 
  top: 60;
}

#header 
{ 
  font-size: 2.2em; 
  text-align: center; 
  background: #F0F8FF; 
}

#nav, #sprava 
{
  top: 60;
  float: left; 
	width: 110px; 
	padding: 10px;
  list-style-type: none;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 15px;
  background-color: #E6E6FA; 
}

#content
{
  background: #F0F8FF;;
  margin: 0 120px; 
  padding: 10px;
}

#sprava 
{
  float: right; 
	color: #000;
  padding-top: 0;
  margin-top: 15;
  margin-right: 15;
}

h2 
{ 
  margin: 0 0 1em;
  font-family: 'Kurale', serif;
  font-size: 36px;
  text-align:  center;
}

#footer 
{ 
  clear: both; 
  padding: 5px; 
  background: #DDA0DD;
  position: relative;
  z-index: 10;
  height: 50px;
  margin-top: -50px;
  bottom: 0;
}

#load 
{
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(images/ajax-loader.gif);
	width: 43px;
	height: 11px;
	text-indent: -9999em;
}

.galv_header 
{
  position: fixed; /* Фиксированное положение */
  left: 0px;
	right: 0px;
	top: 0px;
}
   
.test1123 
{
  position: absolute;
  top: 40px;
}

.block_content 
{
  border: 1px solid red; 
  padding: 5px; /* Расстояние от текста до рамки */
  transition: 3s;
}

.block_content:hover 
{
  background-color: #97CE68;
  color: #000;
}

#gg_profil_sverhu_knopka
{ 
  display: inline-block;
  height: 35;
  width: 100;
  background-color: #D8BFD8;
  font-weight: 700;
  margin-top: 20px;
  font-family: 'Marck Script', cursive;
  text-decoration: underline;
  user-select: none;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
  border: 3px;
}

#gg2, #gg1, #gg3, #gg4, #gg5, #addfriend{
  display: inline-block;
  height: 35;
  width: 100;
  background-color: #D8BFD8;
  font-weight: 700;
  margin-top: 20px;
  font-family: 'Marck Script', cursive;
  text-decoration: none;
  user-select: none;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
  border: 3px;
} 

#gg2:hover { background: #B0C4DE; }
#gg2:active { background: white; }

#gg1:hover { background: #B0C4DE; }
#gg1:active { background: white; }

#gg3:hover { background: #B0C4DE; }
#gg3:active { background: white; }

#gg4:hover { background: #B0C4DE; }
#gg4:active { background: white; }


#gg5:hover { background: #B0C4DE; }
#gg5:active { background: white; }

#addfriend:hover { background: #B0C4DE; }
#addfriend:active { background: white; }

h3
{
  margin-left: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

p
{
  font-size: 20px;
  font-family: 'Neucha', cursive;
}

#addch1
{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 45px;
  border-radius: 15px;
  font-family: 'Bad Script', cursive;
  margin: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}

#addch1:hover 
{
  background: #FFC0CB;
  box-shadow: 0 15px 20px rgba(122,122,122,0.5);
  color: black;
  transform: translateY(-7px);
}

#red_pr_1
{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 170px;
  margin-left: 225px;
  height: 50px;
  line-height: 45px;
  border-radius: 15px;
  font-family: 'Bad Script', cursive;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}

#red_pr_1:hover 
{
  background: #FFC0CB;
  box-shadow: 0 15px 20px rgba(122,122,122,0.5);
  color: black;
  transform: translateY(-7px);
}

#DR {
width: 110px; 
float: right;
}


.layer1 {
    
    float: left; /* Обтекание по правому краю */
    width: 400px; /* Ширина слоя */
	height: 500px;
   }
   
   .layer2 {
	height: 500px;
   }
   .layer3 {
	clear: left;
   }
